body {
  text-align: center;
  background-color: black;
  color: white;
}

.paneles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.paneles > p {
  border: 1px solid white;
  border-width: inherit;
  border-radius: 30px;
  padding: 60px;
  width: 15%;
  font-weight: bolder;
  font-size: large;
}

.Rojo {
  background-color: red;
}

.Verde {
  background-color: green;
}
.Negro {
  background-color: black;
  color: white;
}

.Naranja {
  background-color: orange;
}

.Azul {
  background-color: blue;
  color: white;
}

.Amarillo {
  background-color: yellow;
}

/*
Estilo para el boton de modo nocturno
*/

.container-btn-mode {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}
.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 2px solid white;
  transition: background-color 0.5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active {
  background-color: white;
  color: #ffcd5c !important;
}

/*
Negrita y borde inferior para el texto explicativo
*/
.tutorial {
  font-weight: bold;
  border-bottom: 1px solid white;
}

p:first-child{
  font-weight: bold;
  border-width: 300px;
}

.normal {
  border-bottom: 1px solid white;
}

.tiempo {
  border-bottom: 1px solid white;
}


/*
 /* Dropdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



/*Dropdown
 /* Navbar container */
 .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
